aiofiles
aioshutil
bs4
curl-cffi
gallery-dl
gevent
git+https://github.com/vevv/subby
grpcio
grpcio-tools
humanize
kurigram[fast]
langcodes[data]
lxml
m3u8
mal-api
mutagen
Pillow
psutil
pybase62
pycryptodome
pycurl
python-dotenv
python-magic
pywidevine
requests
speedtest-cli
tenacity
vcsi
xmltodict
yt-dlp[default,curl-cffi]