.netrc
.vscode
*.session
accounts.zip
accounts/*
cfg.zip
config.py
cookies.txt
cookies/*
data/*
downloads/*
list_drives.txt
log.txt
mltb/*
rclone.conf
rclone/*
sabnzbd/*
sessions/*
terabox.txt
thumbnails/*
token.pickle
tokens/*