aioaria2
aiofiles
aioqbt
aioshutil
anytree
apscheduler
beautifulsoup4
cloudscraper
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
kurigram
lxml
natsort
pillow
pproxy[accelerated]
psutil
pycurl
pymongo
python-magic
requests
speedtest-cli
telegraph
tenacity
TgCrypto2
urllib3
uvicorn
uvloop!=0.22.1
xattr
yt-dlp[default,curl-cffi]