aioaria2
aiofiles
aioqbt
aioshutil
anytree
apscheduler
beautifulsoup4
cloudscraper
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
lxml
natsort
pillow
pproxy[accelerated]
psutil
pycurl
pymongo
pyrofork
python-magic
requests
speedtest-cli
telegraph
tenacity
TgCrypto-pyrofork
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]