aioaria2
aiofiles
aioqbt
aioshutil
anytree
curl-cffi
fastapi
gallery-dl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
jinja2
kurigram[fast]
lxml
natsort
pillow
psutil
pycryptodome
pycurl
pymongo
python-magic
requests
speedtest-cli
tenacity
urllib3
uvicorn
uvloop
yt-dlp[default,curl-cffi]