aioaria2
aiofiles
aioqbt
aioshutil
anytree
apscheduler
beautifulsoup4
cloudscraper
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
kurigram
lxml
natsort
pillow
psutil
pycryptodome
pycurl
pymongo
python-magic
requests
speedtest-cli
telegraph
tenacity
TgCrypto
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]